<h1 class="title is-4"> Edit comment </h1>
<%= simple_form_for ([@post, @comment]) do |f| %>
  <%= f.input :body, wrapper: false, input_html: {placeholder: "Write comment here...", autofocus: true}, label_html: {class:"label"} %>
  <%= f.submit "Comment", class: "button is-info" %>
<% end %>
<%= link_to "<<< back", posts_path %>
