<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-3">

        <h1 class="title is-4"> Post a Comment </h1>

          <strong> <%= @post.title %> </strong><br />

          <% @comments.each do |comment| %>
            <p><%= comment.body.capitalize %> </p>
          <% end %><br />

          <%= render "error" %>

          <article class="media box">
            <div class="media-content">
              <%= render "form" %><br />
            </div>
          </article>

      </div>
    </div>
  </div>
</div>
