<h1 class="title is-4"> Post a Comment </h1>

  <strong> <%= @post.title %> </strong>

  <% @comments.each do |comment| %>
    <p><%= comment.body.capitalize %> </p>
  <% end %>

  <%= render "error" %>
  <%= render "form" %>
