<div>
  <% if @received_requests.present? %>
  <nav class="panel">
    <p class="panel-heading"><%= @received_requests.count == 1 ? "Person I sent friend request:" : "People I sent friend request:" %> </p>
      <% @received_requests.each do |received_request| %>
        <p class="panel-block">
          <% if received_request.profile.present? %>
            <%= received_request.profile.firstname.capitalize %> <%= received_request.profile.lastname.capitalize %><br />
          <% else %>
            <%= received_request.username.capitalize %><br />
          <% end %>
      <% end %>
        </p>
  <% end %>
  </nav>
</div>
