<div>
  <nav class="panel">
    <p class="panel-heading">News Feed </p>
    <a class="panel-block">
      News 1
    </a>
    <a class="panel-block">
      News 2
    </a>
    <a class="panel-block">
      Stock Macket
    </a>
    <a class="panel-block">
      Weather forecast
    </a>
    <a class="panel-block">
      Technology
    </a>
    <a class="panel-block">
      You Forever (Dr. Tuesday Lombsang Rampa )
    </a>
  </nav>
</div>
