<div class="title is-5">
  <%= render "friend_request_notification" %>
</div>

<div class="title is-5">
  <%= render "friends_list" %>
</div>


<%= link_to "Send friend request",  new_user_friend_request_path(current_user.id), class: "button is-info" %>
<%= link_to "Users", users_path, class: "button is-primary" %>
