<section class="section">
  <div class="container">
    <div class="columns">

      <%= render "profile" %>

      <div class="column is-half">

        <h1 class="title is-4"> Post - Timeline </h1>

        <article class="media box">
          <div class="media-content">
            <%= render "form" %><br />
          </div>
        </article>


        <%= render "shared/post" %>
      </div>

      <div>
        <%= render "shared/newsfeed" %>
      </div>


    </div>
  </div>
</section>
